.main-nav {
  display: flex;
  align-items: flex-start;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  margin: 0;
  margin-right: 28px;
  margin-left: auto;
}

.main-nav__phone {
  position: relative;
  display: block;
  box-sizing: content-box;
  min-width: 188px;
  margin: 30px 9px 30px 5px;
  padding: 6px 5px 2px 40px;

  @include setFont(18px, $light-red, 32px, normal);

  text-align: center;
  text-decoration-line: underline;

  &::before {
    @include pseudo(url("../img/icon-phone.svg"));
    @include size(30px, 30px);
    top: 8px;
    left: 1px;
  }
}
