//Цвета
$white: white;

// Размеры
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

//Медиа выражения
$mobile: "(min-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width})";
$desktop: "(min-width: #{$desktop-width})";

$mobile-only: "(max-width: #{$mobile-width-only})";

$retina-dppx: 1.5dppx;

$retina: "(min-resolution: #{$retina-dppx})";
// @media #{$tablet} {

// }

// @media #{$desktop} {

// }

// @media #{$retina} {

// }
