//Цвета
$white: white;
$black: black;
$dark-blue: #2c2e3f;
$darkest-blue: #141517;
$orange: #f17d4b;
$light-red: #fe7865;
$blue-limpid7: rgba(44, 46, 63, 0.7);
$blue-limpid3: rgba(44, 46, 63, 0.3);
$darkest-blue-limpid6: rgba(20, 21, 23, 0.6);
$darkest-blue-limpid5: rgba(20, 21, 23, 0.5);
$darkest-blue-limpid7: rgba(20, 21, 23, 0.7);
$light-blue1: rgba(41, 54, 66, 0.1);

// Размеры
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1170px;

//Медиа выражения
$mobile: "(min-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width})";
$desktop: "(min-width: #{$desktop-width})";

$mobile-only: "(max-width: #{$mobile-width-only})";
$tablet-only: "(max-width: #{$tablet-width-only})";

$retina-dppx: 1.5dppx;
$retina: "(min-resolution: #{$retina-dppx})";
// @media #{$tablet-only} {

// }

// @media #{$mobile-only} {

// }

// @media #{$retina} {

// }
